
<ion-content id="content">
    <img src="assets/imgs/back.png" id="back">
  <div id="head">
        
  </div>

  <div id="body">

      <ion-slides pager class="slides">

        <ion-slide style="background-color: rgba(0, 128, 0, 0);" class="slide" *ngFor="let e of vg.epi">
          <h4 class="titre">{{ e.titreAlerte }}</h4>
          <button class="lire-btn" color="trans" (click)="lirePlus(e)">
              <img [src]="e.imageAlerte">
          </button>
        </ion-slide>
          
        <ion-slide style="background-color: rgba(0, 128, 0, 0);" class="slide" *ngFor="let n of vg.news">
            <h4 class="titre">{{ n.titreActualite }}</h4>
            <button class="lire-btn" color="trans" (click)="lirePlus(n)">
                <img [src]="n.imageActualite">
            </button>
        </ion-slide>   
      </ion-slides>

    <ion-grid id="grid">

        <ion-row id="row">
            <ion-col col-1>
              </ion-col>
            <ion-col col-4 style="background-color: #ffffff" class="colo">
              <button ion-button color="danger" class="btn-nav" (click)="naviguerVers('DmePage')">
                  <ion-grid>
                      <ion-row>
                          <ion-col col-12>
                            <ion-icon name="paper"></ion-icon>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-12>DME</ion-col>
                      </ion-row>
                  </ion-grid>
              </button>
            </ion-col>
            <ion-col col-2>
            </ion-col>
            <ion-col col-4 style="background-color: #ffffff" class="colo">
                <button ion-button color="danger" class="btn-nav" (click)="naviguerVers('PharmPage')">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12>
                              <ion-icon name="medkit"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>Pharm</ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
            </ion-col>
            <ion-col col-1>
              </ion-col>
        </ion-row> 
        
    </ion-grid>
  </div>
  
</ion-content>
