

<ion-content no-bounce class="content">
    <ion-navbar class="ion-navbar">
        <ion-buttons end *ngIf="showSkip">
          <button ion-button (click)="startApp()" color="secondary">Passer</button>
        </ion-buttons>
    </ion-navbar>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)" class="ion-slides">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 padding class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/logo.png" class="image-logo" />
      <h2 class="slide-title">Vous êtes prêt ?</h2>
      <button ion-button icon-end large clear (click)="startApp()" color="secondary">
        Commencer
        <ion-icon name="arrow-forward" color="secondary"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
